$main-color: #1b1b1b;
$white: #fff;
$hover-white: #f0f0f0;

.side-bar {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 180px;
    min-height: 100vh;
    height: 100%;
    padding-top: 15px;
    background-color:  $main-color;
    padding: 10px;
    
    .title{
        width: 100%;
        font-size: 1.8rem;
        text-align: left;
        color: $white;
        h1{
            margin-bottom: 10px;  
            font-weight: 400;
            letter-spacing: 0.06rem;
        }
        hr {
            width: 90%;
            border-radius: 30%;
        }
    }
    .dashboard{
        display: flex;
        width: 90%;
        flex-direction: column;
        margin-top: 10px;
        align-items: center;
        a{
            display: flex;
            width: 120px;
            height: auto;
            padding: 5px 0;
            font-size: 1.4rem;
            font-weight: 400;
            border-radius: 5px;
            margin-bottom:  8px;
            text-decoration: none;
            align-items: center;
            justify-content: center;
            text-align: center;
            border-bottom: 1px solid $main-color;
            color:  $main-color;
            background-color: $white;
            cursor: pointer;
            &:hover {
                background-color: $hover-white;
            }
        }
    }
}